@import "bootstrap/scss/bootstrap-grid";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --accent-color: rgba(154, 24, 42, 1);
  --background-color: rgba(240, 240, 240, 1);
  --black: rgba(0, 0, 0, 1);
  --accent-hover: rgba(115, 0, 16, 1);
  --black-half-opacity: rgba(0, 0, 0, 0.5);
  --grey: rgba(102, 102, 102, 1);
  --textbox: rgba(204, 204, 204, 1);
  --texte: rgba(38, 38, 38, 1);
  --transparent: rgba(217, 217, 217, 0);
  --white: rgba(255, 255, 255, 1);
}
.versiondeux {
  --accent-color: rgba(193, 163, 55, 1);
  --accent-hover: rgb(159, 134, 42);
}
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// .box {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
.loader {
  position: fixed;
  background-color: var(--accent-color);
  width: 100vw;
  height: 100vh;
  transition: transform 1s;
  z-index: 500;
}
.hidden {
  transform: translatex(101vw);
}
body {
  font-family: basic-sans;
  color: var(--texte);
  background-color: var(--background-color);
  font-size: 16px;
  overflow-x: hidden;
}
// Header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  padding: 42px;
}
.header_menu {
  display: flex;
  justify-content: center;
  gap: 46px;
  a {
    transform: translateY(15px);
    z-index: 0;
    text-decoration: none;
    position: relative;
  }
  a::after {
    content: "";
    display: inline-block;

    height: 1em;
    width: 100%;
    border-bottom: 2px solid;

    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1) translateY(-15px);
  }

  a:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1) translateY(-20px);
  }
}

// burger menu

.burger_menu {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-color);
  position: fixed;
  transform: translateX(100vw);
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  padding: 300px 100px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.burger_menu.is-active {
  transform: translateX(0px);
}

.burger {
  z-index: 50;

  transform: translateY(-10px);
  .close {
    position: absolute;
    opacity: 1;
    transition: all 1s;
  }
  .open {
    position: absolute;
    opacity: 0;
    transition: all 1s;
  }
}

.burger.is-active {
  .close {
    position: absolute;
    opacity: 0;
  }
  .open {
    position: absolute;
    opacity: 1;
  }
}
.panierlangueprofile {
  display: flex;
  width: 322px;
  justify-content: space-between;
  div {
    padding: 10px 5px;
    border-radius: 7px;
    background: var(--transparent, rgba(217, 217, 217, 0));
  }
}
.langue {
  font-size: 32px;
  color: var(--white);
  letter-spacing: -0.32px;
  margin-right: 10px;
}

.menu_burger {
  z-index: 50;
  display: flex;
  width: 682px;
  align-items: center;
  justify-content: space-between;
  color: var(--white, #fff);
  .burger_column {
    display: flex;
    width: 350px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 2s ease-in-out;
  }

  .burger_column div {
    height: 30px;
  }
  .burger_column div a {
    text-decoration: none;
    position: relative;
  }
  .burger_column div a::after {
    content: "";
    display: inline-block;

    height: 1em;
    width: 100%;
    border-bottom: 5px solid;

    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1) translateY(-30px);
  }

  .burger_column div a:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1) translateY(-35px);
  }

  /* Text burger menu */
  font-family: "basic-sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socials_burger {
  display: flex;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.titre {
  color: var(--texte, #262626);
  font-family: Tarif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.774%; /* 54.895px */
  letter-spacing: -0.64px;
  margin-top: 253px;
}

.bouton {
  border-radius: 10px;
  background: var(--accent-color);
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white, #fff);
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}
.bouton:hover {
  background: var(--accent-hover);
}
.bottle {
  height: 300px;
  position: absolute;
  width: auto;
  z-index: -5;
  transform: scale(2.5) translateX(15px) translateY(-180px);
}
.margeboutonnosvins {
  margin-bottom: 300px;
}
.img-nos-vins {
  height: 589px;
  background: url(../img/wine\ mockup\ red.webp) lightgray 50% / cover no-repeat;
}

.Nos-vins {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 120px;
  overflow: hidden;
  background-color: var(--white);
  padding: 0px;
  gap: 10px;
  margin-bottom: 150px;
}

.Titre-article {
  color: var(--accent-color);
  text-align: center;

  font-family: Tarif;
  font-size: 64px;
  letter-spacing: -0.64px;
}
.sous-titre {
  color: var(--texte);
  text-align: center;
  font-size: 24px;
}

.paragraphe {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.boutons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0px;
  align-items: center;
  gap: 36px;
  justify-content: center;
}
.centrer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-philosophie {
  height: 100%;
  background: url(../img/vigne.webp) lightgray 50% / cover no-repeat;
}
.img-lequipe {
  height: 103%;
  background: url(../img/equipe.webp) lightgray 50% / cover no-repeat;
}
.carte {
  gap: 25px;
  padding: 50px 0px;
}
.carte-vertical {
  gap: 25px;
  padding: 0px 0px 50px 0px;
}

.invitation {
  background: url(../img/degustation.webp) lightgray 50% / cover no-repeat;
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
  height: 600px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadre {
  border-radius: 50px;
  background: var(--black-half-opacity, rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(8px);
  padding: 30px 60px;
  flex-direction: column;
  align-items: center;
}

.margeinvitation {
  margin-top: 20px;
}
.white {
  color: var(--white);
}

.footer {
  margin-top: 150px;
  background-color: var(--white);
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  padding: 38px 24px 28px 24px;
}
.reseausociaux {
  display: flex;
  gap: 20px;
}
.s-ntext {
  color: var(--accent-color);
}
.vente-titre {
  font-size: 24px;
}
.submit {
  margin-top: 9px;
  display: flex;
  margin-bottom: 36px;
}
.inscription {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white);
  border-radius: 10px;
  transform: translateX(-15px);
}

.email {
  padding: 10px 20px;
  background-color: var(--textbox);
  max-width: 100%;
  min-width: 300px;
  border-radius: 10px;
  color: grey;
  border: none;
  font-size: 16px;
}

.GMBio {
  display: flex;
}

.Gault {
  transform: translateX(-18px);
  width: 100px;
  height: 75px;
  flex-shrink: 0;
  background: url(../img/Gault&Millau\ logo.jpg) lightgray 50% / cover no-repeat;
}

.biosuisse {
  width: 87.862px;
  height: 70px;
  flex-shrink: 0;
  background: url(../img/biosuisse\ logo.jpg) lightgray -12.069px 0px / 134.093%
    100% no-repeat;
  mix-blend-mode: multiply;
}

.langues-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: gray;
}
.fr {
  color: black;
  text-decoration: underline black 1px;
}

.cookie-donnée {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

// page détail du vin
h1 {
  text-align: center;
  color: var(--accent-color);
  font-size: 100px;
  font-family: Tarif;
  letter-spacing: -1.28px;
  font-weight: 400;
}
.detail_vin {
  border-radius: 120px;
  background-color: var(--white);
  overflow: hidden;
  margin: 90px auto 150px;
}
.vin_image {
  width: 110%;
  height: 100%;
  background-image: url(../img/wine\ mockup\ red.webp);
  background-position: center;
  background-size: cover;
}
.vin_image_jaune {
  width: 110%;
  height: 100%;
  background-image: url(../img/wine\ mockup.webp);
  background-position: center;
  background-size: cover;
}
.liste {
  .row {
    .col-4 {
      height: 53px;

      color: var(--accent-color);
      margin: 0 0 30px 0;
    }
    .col-8 {
      margin: 0 0 30px 0;
    }
  }
}

.boutonquantity {
  border-radius: 10px;
  background: var(--accent-color);
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white, #fff);
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

.ajouter_au_panier {
  width: 100%;
  margin: 50px 0px;
  overflow: hidden;
}

.bouton.quantity-controls {
  padding: 0%;
  border: none;
  height: 100%;
  width: 100%;
  margin: 0%;
  border-radius: 0%;
  font-size: 20px;
  background-color: var(--accent-color);
}

.bouton.quantity-controls .quantite {
  min-width: 30px;
  text-align: center;
}

.ruisseau {
  position: absolute;
  transform: translateY(-50px);
  z-index: -15;
}
.inverse {
  transform: scaleX(-1) translateY(-100px);
}
.ty-100 {
  transform: translateY(-100px);
}
.ty-200 {
  transform: translateY(-200px);
}
.ty50 {
  transform: scaleX(-1) translateY(50px);
}
.txrui {
  transform: translateX(-1100px);
}
