@import "bootstrap/scss/bootstrap-grid";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --accent-color: rgba(154, 24, 42, 1);
  --background-color: rgba(240, 240, 240, 1);
  --black: rgba(0, 0, 0, 1);
  --accent-hover: rgba(115, 0, 16, 1);
  --accent-2-color: rgba(193, 163, 55, 1);
  --black-half-opacity: rgba(0, 0, 0, 0.5);
  --grey: rgba(102, 102, 102, 1);
  --textbox: rgba(204, 204, 204, 1);
  --texte: rgba(38, 38, 38, 1);
  --transparent: rgba(217, 217, 217, 0);
  --white: rgba(255, 255, 255, 1);
}

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// .box {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
body {
  font-family: Basic Sans;
  color: var(--texte);
  background-color: var(--background-color);
}
// Header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  padding: 42px;
}
.header_menu {
  display: flex;
  justify-content: center;
  gap: 46px;
  a {
    text-decoration: none;
  }
}

// burger menu

.burger_menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-color);
  position: fixed;
  transform: translateX(100vw);
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  padding: 300px 100px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.burger_menu.is-active {
  transform: translateX(0px);
}

.burger {
  z-index: 5;
  transform: translateY(-10px);
  .close {
    position: absolute;
    opacity: 1;
    transition: all 1s;
  }
  .open {
    position: absolute;
    opacity: 0;
    transition: all 1s;
  }
}

.burger.is-active {
  .close {
    position: absolute;
    opacity: 0;
  }
  .open {
    position: absolute;
    opacity: 1;
  }
}
.panierlangueprofile {
  display: flex;
  width: 322px;
  justify-content: space-between;
  div {
    padding: 10px 5px;
    border-radius: 7px;
    background: var(--transparent, rgba(217, 217, 217, 0));
  }
}
.langue {
  font-size: 32px;
  color: var(--white);
  letter-spacing: -0.32px;
  margin-right: 10px;
}

.menu_burger {
  display: flex;
  width: 682px;
  align-items: center;
  justify-content: space-between;
  color: var(--white, #fff);
  .burger_column {
    display: flex;
    width: 350px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  /* Text burger menu */
  font-family: "Basic Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socials_burger {
  display: flex;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}
